# build outputs
dist_ide/
dist_sim/
build/
*.spec

# python cache
__pycache__/
*.pyc
*.pyo

# backups/logs
*.bak
*.log

# editors/venv
.venv/
venv/
.idea/
.vscode/

# local artifacts
dist/
knetxenv/
projects/

